:root {
  --gridItemSize    : 6.25%;
  --gridBorderRadius: 0px;
  --randomColor     : black;
}

* {
  padding    : 0;
  margin     : 0;
  font-family: Helvetica, Arial, sans-serif;
  font-family: 13px;
}

html,
body {
  width : 100%;
  height: 100%;
  
}

body {
  background-color: rgb(215, 215, 215);
  display         : flex;
  flex-direction  : column;
}

button {
  border          : none;
  background-color: rgb(215, 215, 215);
  cursor          : pointer;
  border-radius   : 5px;
}

header {
  display           : flex;
  gap               : 10px;
  flex-wrap         : wrap;
  padding           : 10px;
  background-color  : rgb(235, 235, 235);
}

.boxHidden {
  display: none;
}

#reset {
  padding: 10px;
}

.gridContainer {
  background-color  : white;
  display           : flex;
  flex-wrap         : wrap;
  flex-grow         : 2;
}

.gridContainer.showGrid .gridItem {
  border: 0.5px solid lightgray;
}

.gridItem {
  box-sizing      : border-box;
  background-color: white;
  flex            : 1;
  flex-shrink     : 0;
  flex-basis      : var(--gridItemSize);
  height          : var(--gridItemSize);
  border-radius   : var(--gridBorderRadius);
}

.grid-size {
  border-radius   : 5px;
  background-color: rgb(215, 215, 215);
  height          : 35px;
  width           : 275px;
  font-size       : 13px;
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  padding         : 0 10px 0 10px;
}

.btn {
  border-radius   : 5px;
  background-color: rgb(215, 215, 215);
  transition      : 0.3s;
}

.btn:hover {
  background-color: white;
}


.colored {
  background-color: var(--color);
}

#grid {
  /* min-width: 90px; */
  min-height: 35px;
  position  : relative;
  padding   : 10px;
}

#grid .show {
  position   : absolute;
  left       : 50%;
  top        : 0px;
  width      : 100%;
  line-height: 35px;
  transform  : translateX(-50%);
  
}

#grid .show {
  opacity: 0;
}

#grid.visible .show {
  opacity: 1;
}

#grid.visible .hide {
  opacity: 0;
}




.right {
  margin-left: auto;
}

.colorBox {
  height       : 35px;
  width        : 35px;
  border-radius: 40px;
  margin       : 0px;
}

.colorBoxSelected {
  border : 1.5px solid white;
  outline: 1.5px solid black;
}

#grid {
  /* margin-right: 10px; */
}

#black,
.black {
  background-color: black;
}

#grey,
.grey {
  background-color: rgb(127, 127, 127);
}

#white,
.white {
  background-color: white;
}

#red,
.red {
  background-color: rgb(217, 37, 17);
}

#yellow,
.yellow {
  background-color: rgb(245, 193, 22);
}

#green,
.green {
  background-color: rgb(54, 161, 32);
}

#blue,
.blue {
  background-color: rgb(37, 119, 207);
}

#purple,
.purple {
  background-color: rgb(159, 37, 219);
}

#brown,
.brown {
  background-color: rgb(140, 92, 53);
}

#rainbow {
  background: linear-gradient(135deg, Red, Orange, Yellow, Green, Blue, Indigo, Violet);
}

input[type=range] {
  height            : 5px;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height            : 15px;
  width             : 15px;
  border-radius     : 15px;
  background        : rgb(127, 127, 127);
  cursor            : pointer;
  -webkit-appearance: none;
  transition        : 0.3s;
}

input[type=range]::-webkit-slider-thumb:hover {
  background-color: white;
  border          : 1px solid rgb(127, 127, 127);
}